<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel = "stylesheet" href = 'static/css/homepage.css'>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>
<body>
  <!-- homepage -->
        <div class="container jumbotron">
                
                  <h1 class="text-center"><strong> Yummy recipes</strong></h1> 
                 <!-- <div class="jumbotron" style="background-color:beige"> -->
                  <p>Welcome to yummy recipes app. This app will help you to manage your</br>
                      recipes. If you have already signed up please login to continue.
                 If not</br> please signup to enjoy.</p> 
                
                <h2>
                <p><a href = "/signin">Login</p>
                    <p><a href = "/signup">Sign up</p> </h2>
                    </div>
            </div>
</body>