{% extends "baseloggedin.html" %}

{% block content %}
<link href="static/css/bootstrap.css" rel="stylesheet" />
<script src="js/bootstrap.min.js"></script>
<div class = 'jumbotron' style = "float: right">
<div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        
        {% for message in messages %}
        {{ message.message }}
        {% endfor %}
        
        {% endif %}
        {% endwith %}

        <p>Yummy Recipe App</p>
        <p> Welcome to the Yummy Recipe view app page</p>
        <a href="/createcategory" >Create category</a>
        <div>
        <p>To view recipes click a category</p>
        <!-- logic to view recipe categories -->
                                                {% if category %}
                                                
                                                            {% for item in category %}
                                                            
                                                            <div>{% if user == category[item]['userid'] %}
                                                            </div>                                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ category[item]['category_id'] }}">  {{ category[item]['categoryname'] }}</a>
        </div>
        <a href="/updatecategory/{{ category[item]['category_id'] }}"><span class="glyphicon glyphicon-edit"></span>
            <a href="/deletecategory/{{ category[item]['category_id'] }}"><span class="glyphicon glyphicon-trash"></span>
                <a href="/deletecategory/{{ category[item]['category_id'] }}"><span class="glyphicon glyphicon-trash"></span>


                        <div id="{{ category[item]['category_id'] }}" class="collapse">    
                                        <!-- logic to view recipes -->                                                                        
                                {% if recipe %}
                                                                                                            
                                                                                                            
                                                                                                    
                                                                                                    
                                                                                                                    {% for a in recipe %}
                                                                                                    
                                                                                                                
                                                                                                                    {% if user == recipe[a]['userid'] and recipe[a].category_id == category[item].category_id %}
                                                                                                                    
                                                                                                                    <div style = "background-color: cadetblue">
                                                                                                                            <div style = "background-color: cadetblue">
                                                                                                                                    <li>
                                                                                                                            <label> <h3> {% if recipe[a]["checked"] %} checked {% endif %} {{ recipe[a]['name'] }}
                                                                                                                                        <a href="/updaterecipe/{{ recipe[a]['recipe_id'] }}"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                                                                                                                        <a href="/deleterecipe/{{ recipe[a]['recipe_id'] }}"><span class="glyphicon glyphicon-trash" class="btn btn-info"></span></a></h3></label></div>
                                                                                                                                        <div style = "background-color: cadetblue">
                                                                                                                                    <a href="/updaterecipe/{{ recipe[a]['recipe_id'] }}">
                                                                                                                                        
                                                                                                                                        
                                                                                                                                    </a> 
                                                                                                                                    </div>
                                                                                                                                    <div style = "background-color: cadetblue">
                                                                                                                                            <a href="/deleterecipe/{{ recipe[a]['recipe_id'] }}">
                                                                                                                                                
                                                                                                                                            </a> 
                                                                                                                                              
                                                                                                                                    </div>
                                                                                                                     </li>
                                                                                                                    
                                                                                                                    
                                                                                                                    <a href = "addrecipe{{ category[item]['category_id'] }}">add a recipe</a>             
                                                                                                                </div>
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
</div>
{% endblock %}